<:Title>
  Run Pace Calculator

<:Body>
  <div class="row center-block" style="max-width:1280px">
    <h1>Run Pace Calculator</h1>
    <div class="col-md-2">
      <form e-submit="pace_calc" role="form">
        <input style='width:0; visibility:hidden' type='submit'>
        <div class="form-group">
          <label>
            <a href="#" data-toggle="tooltip" title="the number of teeth on the front chainring">Disance</a>
          </label>
          <select class="form-control" value="{{ page._distance }}">
            <option value="" disabled selected>Select:</option>
            <option value="1500">1500m</option>
            <option value="mile">Mile</option>
            <option value="3k">3k</option>
            <option value="2mile">2 Mile</option>
            <option value="5k">5k</option>
            <option value="8k">8k</option>
            <option value="5mile">5 Mile</option>
            <option value="10k">10k</option>
            <option value="15k">15k</option>
            <option value="10mile">10 Mile</option>
            <option value="20k">20k</option>
            <option value="12_marathon">1/2 Marathon</option>
            <option value="25k">25k</option>
            <option value="30k">30k</option>
            <option value="marathon">Marathon</option>
          </select>
        </div>
        <div class="form-group">
          <label>
            <a href="#" data-toggle="tooltip" title="the number of teeth on the front chainring">Time</a>
          </label>
          <input type="text" class="form-control" value="{{ page._run_time }}">
        </div>
      </form>
    </div>

    <div class="col-md-10">
      <p>
        This calculator will show projected finish times given a race result. It will also present paces for training zones.
      </p>
      <p>
        * This is based on <a href="http://www.amazon.com/Daniels-Running-Formula-3rd-Edition-Jack/dp/1450431836">Daniels' Running Formula-3rd Edition</a>
      </p>

      <h4>
        VDOT: {{ vdot }}
      </h4>

      <hr>

      <div class="{{ if performance_finish_time.empty? }} hidden {{ end }}">
        <h3> Projected Race Times </h3>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              {{ performance_finish_time.keys.each do |v| }}
                <td>{{ v }}</td>
              {{ end }}
            </tr>
          </thead>
          <tbody>
            <tr>
              {{ performance_finish_time.values.each do |v| }}
                <td>{{ v }}</td>
              {{ end }}
            </tr>
            <tr>
              {{ performance_pace.values.each do |v| }}
                <td>{{ v }}/mile</td>
              {{ end }}
            </tr>
          </tbody>
        </table>

<!--         <div id="pace_chart" style="width: 1024px; height: 500;" class="center-block {{ if performance_finish_time.empty? }} hidden {{ end }}"></div> -->

        <hr>

        <h3> Training Zones </h3>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody>
            <tr>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>