<:Title>
  Gear Calc

<:Body>
  <div class="row center-block" style="max-width:1280px">
    <div class="col-md-2">
      <form e-submit="gear_calc" role="form">
        <input style='width:0; visibility:hidden' type='submit'>
        <div class="form-group">
          <label>Front Chainring(s)</label>
          <input class="form-control" type="text" value="{{ page._front_chainring }}" />
          <select class="form-control" value="{{ page._front_chainring }}">
            <optgroup label="Road">
              <option value="34, 50"> 34/50, Road Compact </option>
              <option value="39, 52"> 39/52, Road Standard </option> 
            </optgroup>
            <optgroup label="CX">
              <option value="46"> 46, Road Compact </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label>Rear Cassette</label>
          <input class="form-control" type="text" value="{{ page._rear_cassette }}" />
          <select class="form-control" value="{{ page._rear_cassette }}">
            <optgroup label="Road - 10 Speed">
              <option value="11,12,13,14,15,16,17,19,21,23"> 11-23 SRAM </option>
              <option value="11,12,13,14,15,17,19,22,25,28"> 11-28 SRAM </option>
            </optgroup>
            <optgroup label="Road - 11 Speed">
              <option value="11,12,13,14,15,16,17,18,19,21,23"> 11-23 SRAM </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label>Wheel Size</label>
          <input class="form-control" type="text" value="{{ page._wheel_size }}" />
          <select class="form-control" value="{{ page._wheel_size }}">
            <optgroup label="Road">
              <option value="26.3"> 700c </option>
            </optgroup>
            <optgroup label="Mountain">
              <option value="26.4"> 26" </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label>Tire Size</label>
          <input class="form-control" type="text" value="{{ page._tire_size }}" />
          <select class="form-control" value="{{ page._tire_size }}">
            <optgroup label="Road">
              <option value="28"> 28mm </option>
            </optgroup>
            <optgroup label="Mountain">
              <option value="26.4"> 26" </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label>Cadence</label>
            <div class="form-group col-md-12">
              <div class="form-group col-md-6">
                <input class="form-control" type="text" value="{{ page._low_cadence }}" />
                <input type="range" name="points" min="0" max="200" value="{{ page._low_cadence }}">
              </div>
<!--               <div class="form-group col-md-2">
               <div class="input-group-addon">to</div>
              </div> -->
              <div class="form-group col-md-6">
                <input class="form-control" type="text" value="{{ page._top_cadence }}" />
                <input type="range" name="points" min="0" max="200" value="{{ page._top_cadence }}">
              </div>
<!--               <div class="form-group col-md-2">
                <div class="input-group-addon">rpm</div>
              </div> -->
            </div>
        </div>
      </form>
    </div>

    <div class="col-md-10">
<!--       <div>
        Front Chainring: {{ front_chainring }}
      </div>
      <div>
        Rear Cassete: {{ rear_cassette }}
      </div> -->

      <div id="chart_div" style="width: 900px; height: 500px;" class="center-block"></div>

      <div style="width: 900px" class="center-block">
        Gear Rations: 
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <td> Front </td>
              <td> Rear </td>
              <td> Low Speed </td>
              <td> Mid Speed </td>
              <td> Top Speed </td>
            </tr>
          </thead>
          <tbody>
            {{ gear_calc.each do |pair| }}
              <tr>
              {{ pair.each do |teeth| }}
                <td>{{ teeth }}</td>
              {{ end }}
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>

    </div>
  </div>